<div ng-controller="testCtrl">
  <h1>THIS IS A TEST FOR MONGODB</h1>
  <form class="signin form-horizontal">
    <div class="form-group">
      <input ng-model="test.districtNumber" placeholder="districtNumber">
      <input ng-model="test.keyword" placeholder="keyword">
      <input ng-model="test.status" placeholder="status">
      <input ng-model="test.amount" placeholder="amount">
      <input ng-model="test.kickbackAmount" placeholder="kickbackAmount">
      <button ng-click="saveTest()"></button>
    </div>
  </form>
</div>