@font-face {
    font-family: 'always_in_my_heartregular';
    src: url('fonts/always_in_my_heart-webfont.eot');
    src: url('fonts/always_in_my_heart-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/always_in_my_heart-webfont.woff') format('woff'),
         url('fonts/always_in_my_heart-webfont.ttf') format('truetype'),
         url('fonts/always_in_my_heart-webfont.svg#always_in_my_heartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'profontwindowsregular';
    src: url('fonts/ProFontWindows-webfont.eot');
    src: url('fonts/ProFontWindows-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ProFontWindows-webfont.woff') format('woff'),
         url('fonts/ProFontWindows-webfont.ttf') format('truetype'),
         url('fonts/ProFontWindows-webfont.svg#profontwindowsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'helvetica','sans-serif','arial';
  background-color: #58e6df;
  padding: 0px;
  margin: 0px;
  height: 100%;
}


/* General Styles */
.hide {
  display: none;
}

*:focus {
  outline: 0; /* remove border around focused elements, especially on Google Chrome */
}

.roundWhiteBorder {
  border: 2px solid white;
  border-radius: 7px;
}

.marginBottom {
  margin-bottom: 1.5% !important;
}

input, textarea {
  border: 0;
  background-color: transparent;
  background-image: none; /* remove inset gradient on Firefox mobile */
}

.currentInput {
  background-color: white !important;
  border-radius: 7px !important;
  opacity: 1 !important;
}

.nextInput {
  opacity: 0.5;
  border-radius: 7px;
  background-color: rgba(255,255,255,0.7);
}

.filledIn {
  color: black;
  border-color: transparent;
  background-color: transparent !important;
}
/* End General Styles */

/* Font Styles */
.heart {
  font-family: 'always_in_my_heartregular';
  font-size: 2.4em;
  padding: 0 1%;
}

.profont {
  font-family: 'profontwindowsregular',Courier,serif;
  font-size: 2em;
  padding: 0 2%;
}

.helveticaInput {
  font-size: 1.5em;
  line-height: 45px;
  padding-left: 2%;
}

.helveticaText {
  font-size: 1em;
  line-height: 45px;
  padding-left: 2%;
}

.bold {
  font-weight: bold;
}
/* End Font Styles */

/* Background Image */
.localStreet {
  position: fixed;
  top: 40%;
  width: 100%;
  height: 60%; /* 60% + 40% (from "top") = 100% of the screen's height*/
  z-index: -1;
  background-size: cover;
  background-position: center top;
  background-color: #58e6df;
  transition: opacity 1s ease-out 0s; /* CSS property, duration, timing-function, delay */
  -o-transition: opacity 1s ease-out 0s;
  -webkit-transition: opacity 1s ease-out 0s;
}

#localStreetNoBlur {
  opacity: 1;
  background-image: url('images/local-street-bg.png');
}

#localStreetNoBlur.blur {
  opacity: 0;
}

#localStreetBlur {
  /* background-image: url('images/local-street-low2-blur.png'); */
  background-image: url('images/local-street-bg-blur.png');
}

/* Clique Logo */
#clique_logo {
  margin: 10px auto 5%;
  width: 40%;
  max-width: 300px;
  display: block;
}
/* End Clique Logo */

/* Wrapper */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper > div {
  margin-bottom: 2.5% !important;
}

/*--- section styles ---*/
.checkmark {
  visibility: hidden;
  float: right;
  display: inline-block;
  position: relative;
  right: 2%;
  top: 5%;
  z-index: 2;
  width: 10%;
  max-width: 25px;
  height: 80%;
  background-image: url('images/checkmark-blk.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.filledIn .checkmark {
  background-image: url('images/checkmark-wht.png');
}

label.inputlabel {
  font-size: 1.5em;
  width: 25%;
  text-align: right;
  position: relative;
  top: 8px;
  float: left;
}

.inputlabel img {
  height: 25px;
}

.rightColumn {
  width: 73%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 0 2%; /* margin-left */
  height: 45px;
  display: inline-block;
  box-sizing: border-box;
}

/* Amount Selection */
#clique_amt_selection {
  height: 45px !important;
  position: relative;
  overflow: hidden; /* don't show scroll bar */
  text-align: center; /* horizontally center this scrollwindow on the page */
}

#clique_amt_scrollwindow {
  width: 80%;
  max-width: 600px;
  display: inline-block;
  overflow-x: scroll;
  height: 10em; /* push scroll bar downwards out of field of view */
  white-space: nowrap; /* don't wrap the price spans */
}

#clique_amt_scrollwindow small {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.6em;
}

.price {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 1.6em;
  display: inline-block;
  padding: 3px 0 0; /* top, left/right, bottom */
  height: 38px;
  width: 25%;
  min-width: 68px;
  max-width: 100px;
  margin: 0 1%; /* spacing between price boxes */
}

.price.active {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.rightarrow,
.leftarrow {
  vertical-align: top;
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  display: inline-block;
  position: relative;
  top: 0.5em;
}

.rightarrow {
  border-left: 0.8em solid white;
}

.leftarrow {
  border-right: 0.8em solid white;
}
/* End Amount Selection */

/* Clique Code Styles */
#flip_container {
  width: 70%;
  max-width: 350px;
  margin: auto;
  position: relative;
  
  perspective: 750px;
  -webkit-perspective: 750px;
}

/* use dummy container to set aspect ration of card */
.dummy {
  padding-top: 60%;
  /* Credit card dimensions are 85.60 × 53.98 mm. 53.98/85.60 = 0.63 */
  /* See http://www.mademyday.de/css-height-equals-width-with-pure-css.html about setting fixed aspect ratios */
}

.card {
  /* compensate for 3px border width */
  height: 95%;
  width: 97%;
  
  position: absolute;
  top: 0;
  border: 3px solid white;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.2); /* translucent background */
  
  transition: transform 1.5s;
  -webkit-transition: -webkit-transform 1.5s;
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#front {
  background-image: url('images/logo-local-gift-card-wht.png');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

#front.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

#back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.blackstrip {
	text-align: right;
  box-sizing: border-box;
  width: 100%;
  padding-right: 8%;
  position: absolute;
  top: 10%;
	opacity: 0.8;
	font-size: 1.6em;
	color: grey;
	background-color: white;
}

#back img {
	position: absolute;
	right: 0;
	top: 8%;
	height: 2.2em;
	z-index: 3;
}

#back.flipped {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
}

#clique_code {
  position: relative;
  
  /* somehow needed for Google Chrome to display the flip card correctly */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#clique_code_message > div {
  line-height: 1.2em;
}

.italicMessage {
  display: block;
  font-style: italic;
  font-size: small;
}
/* End Clique Code Styles */

/* occasion styles */
#clique_occasion_selection {
  margin: 2% auto; /* increase margin-top and margin-bottom slightly */
  max-width: 600px;
}

#clique_occasion_selection ul {
  /* padding-bottom set to 0, relies on margin-bottom of each li instead */
  padding: 2% 2% 0% 2%;
  margin: 0;
  display: table;
}

#clique_occasion_selection li {
  list-style-type: none;
  width: 50%;
  height: 20%;
  float: left;
  color: white;
  font-size: 1.2em;
  margin-bottom: 2.1%; /* 0.02/0.96 = 0.21 (try to match the padding from the other sides of the ul) */
}

#clique_occasion_selection img {
  max-width: 20%;
  margin-right: 5%;
  vertical-align: middle;
}

/* allow occasion selection and date selection to take up full screen width when width drops below 320px */
@media screen and (max-width: 319px) {
    #clique_occasion_selection li  {
        float: none;
        width: 100%;
    }
    
    #dateImages > div {
        width: 100% !important;
    }
}

#clique_input_occasion_wrapper {
  position: relative; /* needed for occCharCount to be positioned properly */
  height: 100%;
  padding: 0.2em 0.5em 1.3em 2%;
  /* background-color: white; */
}

#clique_input_occasion {
  height: 5em;
  outline: none;
  resize: none;
  font-size: 1em; /* by default, Google Chrome shrinks font-size in <input> and <textarea> fields, so we need to explicitly set the font-size to maintain consistency across browsers */
  font-family: 'helvetica','sans-serif','arial';
  width: 100%;
}

#occCharCount {
  position: absolute;
  color: lightgrey; /* same as #cccccc */
  bottom: 0.3em;
  right: 0.4em;
  white-space: nowrap; /* don't let character count take up more than 1 line */
}
/* end occasion section styles */

/* date picker styles */
#clique_date_selection {
  color: white;
}

#dateImages {
  font-size: 1.2em;
  min-height: 45px;
}

#dateImages > div {
  height: 100%;
  width: 48%;
  display: inline-block;
  line-height: 2.1em;
}

#dateImages  img {
  margin-right: 1%;
  max-height: 80%;
  max-width: 20%;
  vertical-align: middle;
}

#clique_input_date {
  background: transparent;
  font-size: 1em;
}
/* end date picker styles */

/* payment styles */
#clique_payment_card {
  overflow: hidden;
  font-size: 0.6em;
}

.paymentcontainer {
  height: 45px;
  text-align: center;
  background-color: white;
}

.paymentcontainer.filledIn input {
  color: white;
}

.paymentcontainer input {
  background-color: transparent;
  height: 100%;
}

.checkinput {
  max-width: 70%;
}

#creditcardimg {
  width: 10%;
  max-width: 25px;
  position: relative;
  top: 0.35em;
}

#clique_input_expiry {
  width: 40%; /* 9/18 = 0.5 */
}

#clique_input_cvv {
  width: 20%; /* 4/18 = 0.222 */
}

#clique_input_zip {
  width: 25%; /* 5/18 = 0.277 */
}

.expiry {
  box-sizing: border-box;
}
/* end payment styles */

/* Proceed Button Styles */
.proceed_button {
  background-color: black;
  background-image: url('images/clique.png');
  background-size: auto 60%;
  background-position: 1em 60%;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 7px;
  width: 100%;
  height: 45px;
  text-align: right;
  color: #58e6df;
  font-size: 1.2em;
  padding-right: 1em;
  cursor: pointer;
}

.proceed_button:disabled {
  background-color: gray;
  opacity: 0.6;
  cursor: default;
}
/* End Proceed Button Styles */

/* Final Overlay Styles */
#finalOverlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: black;
  opacity: 0.5;
  display: table;
  text-align: center;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

#finalOverlay.complete {
  opacity: 0.9;
}

.overlayText {
	color: #58e6df;
	font-size: 3em;
  display: table-cell;
  vertical-align: middle;
}