@font-face {
    font-family: 'always_in_my_heartregular';
    src: url('../demo23/fonts/always_in_my_heart-webfont.eot');
    src: url('../demo23/fonts/always_in_my_heart-webfont.eot?#iefix') format('embedded-opentype'),
         url('../demo23/fonts/always_in_my_heart-webfont.woff') format('woff'),
         url('../demo23/fonts/always_in_my_heart-webfont.ttf') format('truetype'),
         url('./fonts/always_in_my_heart-webfont.svg#always_in_my_heartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'profontwindowsregular';
    src: url('../demo23/fonts/ProFontWindows-webfont.eot');
    src: url('../demo23/fonts/ProFontWindows-webfont.eot?#iefix') format('embedded-opentype'),
         url('../demo23/fonts/ProFontWindows-webfont.woff') format('woff'),
         url('../demo23/fonts/ProFontWindows-webfont.ttf') format('truetype'),
         url('../demo23/fonts/ProFontWindows-webfont.svg#profontwindowsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
  background-color: #58e6df;
}

.content
{
  background-position: center -900px;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
}

/* background */
.wrapper #container
{
  position: relative;
  z-index: 20;
}

.wrapper #localstreet
{  
  position: fixed;
  z-index: -10;
  top: -860px;
  left: 50%;
  margin-left: -170px;
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}


/* header section */
.header {
  height: 10%;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.headerSide {
  height: 100%;
  margin-top: -.5%;
  padding: 0;
}

#bowTie {
  height: 100%;
  padding: 0;
  background: url('../demo23_files/gift-bow-wht.png') no-repeat;
  background-size: 70%;
  background-position: center;
}

#giveText {
  height: 100%;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.22em;
  color: rgb(255, 255, 255);
  padding-top: 19%;
}

.cliqueLogo {
  height: 100%;
  background: url('../demo23_files/wht-clique-logo.png') no-repeat;
  background-size: 68%;
  background-position: center;
}

/* gift card section */
.giftSection {
  height: 50%;
  padding: 0;
  position: relative;
  top: 10%;
  border-radius: 6px;
  background-color: rgb(43,83,82);
}

/* personal message section */
.personalMessage {
  position: absolute;
  height: 33%;
  padding: 2% 2% 0 2%;
  margin-top: 2%;
}

#occasionIcon {
  height: 65%;
  width: 21%;
  margin-top: 1.8%;
  left: 2%;
  background: url('../demo23_files/wht-custom-occasion-icon.png') no-repeat;
  background-size: 80%;
}

#buyerMessage {
  height: 65%;
  width: 78%;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: white;
  overflow: hidden;
  border: 1px solid blue; 
}

#buyerName {
  height: 35%;
  padding: 0;
  border: 1px solid red;
  color: white;
}

/* gift card section */
.giftCardSection {
  top: 33%;
  height: 67%;
  padding: 2%;
  position: absolute; 
}

#giftCardImage {
  height: 100%;
  padding: 1.2% 3%;
  border: 1px solid purple;
  border-radius: 7px;
  background: url('../demo23_files/dolys-delectables-crop.jpg') no-repeat;
  background-size: contain;
}

#giftCardAmount {
  height: 40%;
  padding: 0;
  left: -5%;
  background: url('../demo23_files/gift-value-2.png') no-repeat;
  background-size: 100;
  vertical-align: top;
}

#giftCardMessage {
  height: 12%;
  padding: 0;
  margin-top: 29%;
  font-family: 'Lato', sans-serif;
  color: rgb(255, 255, 255);
  font-size: .98em;
  font-weight: bold;
}

/* amount to spend at merchant info section*/
.merchantInfo {
  margin-top: 4%;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#useAmount {
  margin: 0;
  font-weight: bold;
}

#merchantName {
  margin: 0;
  margin-top: -2%;
  font-size: 1.65em;
  font-weight: bold;
}

/* use it now or later section */
.useItSection {
  height: 10%;
  padding: 0;
  margin-top: 3%;
}

.useNowLater {
  height: 100%;
  padding: 0;
  width: 49%;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding-top: 4.5%;
  font-family: 'Lato', sans-serif;
  font-size: 1.33em;
  font-weight: bold;
}

#useNow {
  color: #58e6df;
}

#useLater {
  color: #B22222;
}

/* nearby merchant section */
.nearbyMerchant {
  height: 10%;
  padding: 0;
  margin-top: 10%;
  border: 1px solid red;
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* ALPHA STYLING */
.useNowLaterALPHA {
  height: 100%;
  padding: 0;
  /*width: 49%;*/
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding-top: 4.5%;
  font-family: 'Lato', sans-serif;
  font-size: 1.33em;
  font-weight: bold;
}


