
/* THIS IS USED FOR BOTH RECIPIENT AND REDEMPTION VIEWS */

@font-face {
    font-family: 'always_in_my_heartregular';
    src: url('../demo23/fonts/always_in_my_heart-webfont.eot');
    src: url('../demo23/fonts/always_in_my_heart-webfont.eot?#iefix') format('embedded-opentype'),
         url('../demo23/fonts/always_in_my_heart-webfont.woff') format('woff'),
         url('../demo23/fonts/always_in_my_heart-webfont.ttf') format('truetype'),
         url('./fonts/always_in_my_heart-webfont.svg#always_in_my_heartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'profontwindowsregular';
    src: url('../demo23/fonts/ProFontWindows-webfont.eot');
    src: url('../demo23/fonts/ProFontWindows-webfont.eot?#iefix') format('embedded-opentype'),
         url('../demo23/fonts/ProFontWindows-webfont.woff') format('woff'),
         url('../demo23/fonts/ProFontWindows-webfont.ttf') format('truetype'),
         url('../demo23/fonts/ProFontWindows-webfont.svg#profontwindowsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html
{
  height: 100%;
}

body
{
  font-family: 'helvetica','sans-serif','arial';
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #58e6df;
}

.content
{
  /*background-image: url('../demo23/img/local-street-low.png');*/
  background-position: center -900px;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 100%;
  /*min-width: 340px;
  max-width: 865px;*/
  width: 100%;
}

.wrapper #container
{
  position: relative;
  z-index: 20;
}

.wrapper #localstreet
{
  position: fixed;
  z-index: -10;
  top: -860px;
  left: 50%;
  margin-left: -170px;
}

.wrapper #localstreet
{  
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}

#container > div {
  /*margin: 0 auto;*/
  margin-top: 2%;
  text-align: center;
}

#container > span {
  /*margin: 0 auto;*/
  z-index: 40;
  margin-top: 2%;
  text-align: center;
  color: white;
}

#personalMessage {
  height: 16%;
  width: 90%;
  /*margin-top: 2%;*/
  margin: 0 auto;
  /*border: 1px solid black;*/
  border-radius: 5px;
  background-color: #CDBE70;
}

#affirmation {
  font-size: 1em;
  color: #B22222
}

.icon {
  height: 100%;
  padding: 0;
}

#buyerMessage {
  height: 70%;
  /*font-family: H;*/
  /*font-family: 'always_in_my_heartregular';*/
  text-align: left;
  font-size: 1.2em;
  overflow: scroll;
  top:5%;
  left: 3%;
}

#buyerName {
  height: 30%;
  font-family: 'always_in_my_heartregular';
  text-align: right;
  font-size: 1.7em;
  bottom: 8%;
  right: 5%;
}

#merchant {
  z-index: 30;
  height: 30%;
  width: 90%;
  margin: 0 auto;
  /*background-image: url();*/
}

#text {
  color: #ffffff;
}

#merchantFont {
  font-size: 1.85em
}

#name {
  font-size: 2.4em;
  font-family: 'always_in_my_heartregular';
}

.now {
  height: 10%;
  background-color: #ffffff;
  border-radius: 5px;
  display: table;
  /*margin-left: 1%;*/
}

.nowText {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.4em;
}

#useNow {
  color: #58e6df;
}

#useLater {
  color: #B22222;
}


/* THIS IS USED FOR ONLY THE REDEMPTION VIEW */

div.overlay {
    opacity: .6;
    background-color: black;
    position: fixed;
    left: 0; top: 0; height: 105%; width: 100%;
    top: -5%;
}

.tricon {
  height: 17%;
  width: 32%; 
  border-radius: 60%; 
  border: 2px solid rgba(255, 255, 255, 0.3);
}

span > .tricon {
  margin-top:5%
}

.txtUpsideDown 
{
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  /* IE6,IE7 */
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
  -moz-transform: rotate(-180deg);  /* FF3.5+ */
  -o-transform: rotate(-180deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
  position: relative; 
}

#showScreen {
  display: table-cell;
  vertical-align: middle;
  color: black;  
  text-align: left;
}


