@font-face {
    font-family: 'always_in_my_heartregular';
    src: url('../demo23_files/fonts/always_in_my_heart-webfont.eot');
    src: url('../demo23_files/fonts/always_in_my_heart-webfont.eot?#iefix') format('embedded-opentype'),
         url('../demo23_files/fonts/always_in_my_heart-webfont.woff') format('woff'),
         url('../demo23_files/fonts/always_in_my_heart-webfont.ttf') format('truetype'),
         url('../demo23_files/fonts/always_in_my_heart-webfont.svg#always_in_my_heartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'profontwindowsregular';
    src: url('../demo23_files/fonts/ProFontWindows-webfont.eot');
    src: url('../demo23_files/fonts/ProFontWindows-webfont.eot?#iefix') format('embedded-opentype'),
         url('../demo23_files/fonts/ProFontWindows-webfont.woff') format('woff'),
         url('../demo23_files/fonts/ProFontWindows-webfont.ttf') format('truetype'),
         url('../demo23_files/fonts/ProFontWindows-webfont.svg#profontwindowsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p, ul, ol
{
	padding: 0;
	margin: 0;
}

html
{
	height: 100%;
}

body
{
	font-family: 'helvetica','sans-serif','arial';
	padding: 0;
	margin: 0;
	height: 100%;
}

*:focus
{
    outline: 0;
}

.hide
{
	display: none;
	/*visibility: hidden;*/
}

.heart
{
	font-family: 'always_in_my_heartregular';
}

.wrapper
{
	/*background-image: url('../demo23_files/img/local-street-low.png');*/
	background-position: center -900px;
	background-repeat: no-repeat;
	background-color: #58e6df;
    margin: 0 auto;
	min-height: 100%;
	/*min-width: 340px;
	max-width: 865px;*/
	width: 100%;
}

.wrapper .content
{
	max-width: 500px;
	margin: 0 auto;
	width: 97%;
}

.wrapper #container
{
	position: relative;
	z-index: 20;
}

.wrapper #localstreet
{
	position: fixed;
	z-index: 10;
	top: -860px;
	left: 50%;
	margin-left: -250px;
}

.wrapper #localstreet img
{
	max-width: 100%;
}

.wrapper #localstreet img.blur
{
	/*
	-webkit-filter: blur(12px);
	-moz-filter: blur(12px);
	-o-filter: blur(12px);
	-ms-filter: blur(12px);
	filter: blur(12px);
	*/
	
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
	transition-delay: 1s;
	-webkit-transition: all 1.5s ease-out;
  	-moz-transition: all 1.5s ease-out;
  	-o-transition: all 1.5s ease-out;
  	transition: all 1.5s ease-out;
}

.clear
{
	clear: both;
}

/* main template styles */
#clique_logo
{
	width: 200px;
	margin: -10px auto 10px;
	position: relative;
	top: -150px;
}

#clique_logo span
{
	font-weight: bold;
	font-size: 18px;
	position: relative;
	text-transform: uppercase;
}

#clique_logo span.first
{
	top: 40px;
	left: 70px;
}

#clique_logo div
{
	font-size: 80px;
}

#clique_logo span.last
{
	top: -20px;
	left: 62px;
}
/* end header styles */

/*--- section styles ---*/
#clique_section
{
	padding: 0 10px 10px 10px;
	margin-top: -10px;
	min-height: 350px;
}

.bowtie
{
	position: absolute;
	top: 142px;
	right: 5%;
	z-index: 2;
	width: 25px;
}

.checkmark
{
	position: relative;
	float: right;
	right: 15px;
	top: 8px;
	z-index: 2;
	width: 25px;
}

#clique_section > input
{
	height: 70px;
	border-radius: 12px;
	padding-left: 10px;
	width: 100%;
	font-size: 52px;
	margin-bottom: 20px;
}

#clique_section > div
{
	height: 44px;
	border-radius: 12px;
	margin-bottom: 4px;
}

/*
#amtwrapper
{
	margin-bottom: 10px;
}
*/

#clique_section > div.currentinput, #clique_section #clique_ordersummary > div.currentinput
{
	background-color: #ffffff;
	cursor: pointer;
	border: 2px solid #ffffff;
}

#clique_section > div.nextinput
{
	color: #ffffff;
	border: 2px solid #ffffff;
}

#clique_section > div.inactive
{
	opacity: 0.5;
}

div.filledin
{
	color: #000000;
	border: 2px solid transparent;
}

div.filledin input, div.filledin textarea
{
	background: transparent;
}

span.inputlabel
{
	margin: 8px 0;
	font-size: 24px;
	display: inline-block;
	width: 26%;
	text-align: right;
	height: 20px;
	float: left;
}

input.heart, span.heart
{
	font-size: 38px;
	padding: 0;
	width: 72%;
	display: inline-block;
	text-align: left;
	float: left;
	border-radius: 12px;
	border: 0;
	margin: 0;
	color: #000000;
}

input.heart
{
	padding-left: 4px;
}

#clique_section > div.nextinput input, div.paymenttypecontainer input, #clique_section #clique_ordersummary > div.nextinput input
{
	background: transparent;
	color: #ffffff;
}

/* scroller styles */
#amtwrapper
{
	height: 45px !important;
}

#clique_amt_scrollwindow
{
	max-width: 630px;
	margin: 0 auto;
	width: 85%;
	overflow-x: scroll;
	height: 44px !important;
	position: relative;
	top: -27px;
}

#clique_amt
{
	position: relative;
	top: -2px;
	/*height: 60px !important;*/
}

span.rightarrow, span.leftarrow
{
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	display: inline-block;
	position: relative;
	top: 11px;
}

span.rightarrow
{
	border-left: 12px solid #ffffff;
	left: 91%;
}

span.leftarrow
{
	border-right: 12px solid #ffffff;
	left: 2%;
}

#clique_amt_scrollwindow .scrollcontainer
{
	position: relative;
}

#clique_amt_scrollwindow .scrollcontainer > div
{
	display: inline;
	border: 2px solid #ffffff;
	color: #ffffff;
	font-size: 18px;
	border-radius: 10px;
	padding: 8px 0 9px;
	height: 20px;
	width: 62px;
	position: absolute;
	text-align: center;
}

#clique_amt_scrollwindow .scrollcontainer > div.active
{
	background-color: #ffffff;
	border: 2px solid #000000;
	color: #000000;
}

#clique_input_code
{
	font-family: 'helvetica';
	font-size: 24px;
	padding-left: 5px;
	margin-top: 8px;
	text-transform: uppercase;
	width: 55%;
}

#clique_card
{
	width: 230px;
	margin: 0 auto 10px;
	/*position: relative;*/
	border: 2px solid #ffffff;
	border-radius: 12px;
}

#clique_card span
{
	font-weight: bold;
	font-size: 18px;
	position: relative;
	text-transform: uppercase;
}

#clique_card span.first
{
	top: 30px;
	left: 97px;
}

#clique_card div
{
	font-size: 70px;
	width: 150px;
	margin: 0 auto;
}

#clique_card span.last
{
	top: -15px;
	left: 80px;
}

/* flip css functionality */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	margin: 0 auto;
}

.flip-container, .front, .back {
	color: #ffffff;
	width: 230px;
	height: 126px !important;
}

.back img
{
	position: absolute;
	display: inline-block;
	left: 90px;
	top: -10px;
	width: 150px;
	z-index: 2;
}

.back span
{
	display: inline-block;
	float: left;
	position: relative;
	text-align: right;
	padding-right: 11px;
	padding-bottom: 2px;
	top: 10px;
	opacity: 0.5;
	font-size: 25px;
	color: #bbbbbb;
	background-color: white;
	width: 95%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back
{
	border-radius: 12px;
	border: 3px solid #ffffff;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

/* occasion section styles */
#clique_occasion
{
	height: 95px !important;
}

#clique_occasion span.inputlabel img
{
	height: 25px;
}

#clique_occasion_selection
{
	border: 2px solid #ffffff;
	border-radius: 12px;
	padding: 10px 10px 10px 10px;
	width: 94%;
	height: 165px !important;
	margin: 0 auto;
}

#clique_occasion_selection > div
{
	width: 45%;
	float: left;
	padding-bottom: 10px;
}

#clique_occasion_selection > div img
{
	height: 25px;
}

#clique_input_occasion
{
	height: 90px;
	border-radius: 12px;
	width: 72%;
	padding-left: 7px;
	border: none;
	resize: none;
	font-size: 18px;
	font-family: 'helvetica';
}

div.charactercounter
{
	position: absolute;
	font-size: 18px;
	color: #cccccc;
	top: 74px;
	right: 10px;
}
/* end occasion section styles */

/* date section styles */
#clique_senddate > div
{
	padding-top: 4px;
	margin-left: 4%;
	float: left;
}

#clique_senddate > div > img
{
	height: 25px;
}

#clique_input_date
{
	font-family: 'helvetica';
	height: 45px;
	padding-left: 4px;
	font-size: 18px;
}

#cliquedate
{
	height: 35px;
	border: none;
	font-size: 25px;
}

img.changedate
{
	height: 25px;
	position: relative;
	top: 1px;
}
/* end date section styles */

/* payment type styles */
#clique_paymenttype
{

}

#clique_paymenttype img
{
	height: 30px;
	position: relative;
	top: 6px;
	left: 5%;
}

#clique_input_creditcardnumber, .clique_input_expiredate
{
	text-transform: uppercase;
	font-family: 'profontwindowsregular';
	font-size: 20px !important;
	margin-top: 8px !important;
}

.clique_input_expiredate
{
	font-size: 20px !important;
}
/* end payment type styles */

/* review order styles */
#clique_revieworder, #clique_schedulegift
{
	padding-top: 15px;
}

#clique_revieworder img.cliquelogo, #clique_schedulegift img.cliquelogo
{
	float: left;
	height: 25px;
}

#clique_revieworder img.revieworder, #clique_schedulegift img.scheduleorder
{
	float: right;
	height: 25px;
	cursor: pointer;
}
/* end review order styles */

/* order summary styles */
#clique_ordersummary
{
	padding-top: 25px;
}

#clique_ordersummary > div
{
	height: 38px;
}

#clique_ordersummary span.inputlabel
{
	margin: 6px 0;
}

.summaryordertotal .inputlabel img
{
	height: 25px;
}

.summaryordertotal span.giftamount
{
	font-size: 20px;
	margin-top: 5px;
	padding-left: 10px;
	width: 68%;
	display: inline-block;
}

.summaryto span.recipientname, .summaryfrom span.purchasername
{
	width: 68%;
	padding-left: 10px;
}

.summaryphonenumber
{
	/*background-color: #ffffff;*/
	cursor: pointer;
	border: 2px solid #ffffff;
	height: 44px;
	border-radius: 12px;
	margin-bottom: 4px;
}

#clique_input_phonenumber
{
	font-family: 'helvetica';
	font-size: 26px;
	padding-left: 10px;
	padding-top: 2px;
}

.summaryreceipt
{
	height: 17px !important;
}

.summaryreceipt span.receiptmsg
{
	font-size: 20px;
	padding-left: 10px;
}

.summaryemail
{
	color: #ffffff;
	border: 2px solid #ffffff;
	height: 44px;
	border-radius: 12px;
	margin-bottom: 4px;
}

#clique_input_email
{
	/*background-color: transparent;*/
	color: #ffffff;
	font-family: 'helvetica';
	margin-top: 5px;
	padding-left: 10px;
	font-size: 22px;
}
/* end order summary styles */

#finalOverlay {
    opacity: 1;
    background-color: black;
    position: fixed;
    left: 0; top: 0; height: 105%; width: 100%;
    top: -5%;
    /*animation: fadein 1s;*/
}

#finalOverlay > img {
	margin-left: 23%;
	margin-top: 50%;
}

.overlayText {
	font-family: 'always_in_my_heartregular';
	color: #58e6df;
	font-size: 2em;
	margin-top: 8%;
	margin-left: 35%;	
}