<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- CSS -->
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/darkly/bootstrap.min.css">-->
	<link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="pickadateJS/default.css">
  <link rel="stylesheet" href="pickadateJS/default.date.css">
	
	<!-- JS -->
	<!-- load jquery and angular -->
  <!-- NOTE: Order of scripts MUST be {1: jQuery, 2: AngularJS, 3: app.js} -->
  <!-- because the datepicker directive depends on jQuery, and app.js depends on AngularJS -->
  <script src="./jquery-2.1.1.min.js"></script>
  <script src="./angular.min.js"></script>
  <script src="./angular-ui-router.min.js"></script>
  <script src="./app.js"></script>
  
  <!-- DatePicker -->
  <script src="pickadateJS/picker.js"></script>
  <script src="pickadateJS/picker.date.js"></script>

  <!-- FormanceJS -->
  <script src="./jquery.formance.js"></script>
</head>

<!-- apply our angular app -->
<body ng-app="clique">
<!-- <div style="text-align: center;">||</div> -->

	<form name="clique_form" ng-controller="BuyerController" novalidate>
    <div ui-view></div>
    <div id="localStreetBlur" class="localStreet"></div>
    <div id="localStreetNoBlur" class="localStreet"></div>
<!--     <pre>
      To: {{formData.To}}
      From: {{formData.From}}
      Amount: {{formData.Amount}}
      Code: {{formData.Code}}
      Occasion: {{formData.Occasion}}
      Date: {{formData.Date}}
      CreditCardNumber: {{formData.CreditCardNumber}}
      Expiry: {{formData.Expiry}}
      CVV: {{formData.CVV}}
      ZIPcode: {{formData.ZIPcode}}
      PhoneNumber: {{formData.PhoneNumber}}
      Email: {{formData.Email}}
      Icon: {{formData.Icon}}
      UniqueLink: {{formData.UniqueLink}}
      pagesValid.main: {{pagesValid.main}}
      pagesValid.review: {{pagesValid.review}}
    </pre>
    <div> clique_form is {{clique_form.$valid}}</div> -->
	</form>
</body>
</html>