<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS -->
  <link rel="stylesheet" href="../public/stylesheets/buyer_style.css">
  <link rel="stylesheet" href="../public/javascripts/pickadateJS/default.css">
  <link rel="stylesheet" href="../public/javascripts/pickadateJS/default.date.css">

  <!-- JS -->
  <script src="../public/javascripts/jquery-2.1.1.min.js"></script>
  <script src="../public/javascripts/angular.min.js"></script>
  <script src="../public/javascripts/angular-ui-router.min.js"></script>
  <script src="../public/javascripts/custom/app.js"></script>

  <!-- Balanced Payments -->
  <script type="text/javascript" src="https://js.balancedpayments.com/1.1/balanced.js"></script>
  
  <!-- DatePicker -->
  <script src="../public/javascripts/pickadateJS/picker.js"></script>
  <script src="../public/javascripts/pickadateJS/picker.date.js"></script>

  <!-- FormanceJS -->
  <script src="../public/javascripts/jquery.formance.js"></script>

</head>
<body ng-app="clique">
  <form name="clique_form" ng-controller="BuyerController" novalidate>
    
    <div ui-view></div>
    <div id="localStreetBlur" class="localStreet"></div>
    <div id="localStreetNoBlur" class="localStreet"></div>

  </form>
</body>
</html>