<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- <link rel="stylesheet" href="/public/system/lib/bootstrap/dist/css/bootstrap.css"> -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../public/demo23_files/style2.css"> 
        <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
        <script src="../../public/clique-angular/script.js"></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js'></script>
    </head>
    <body ng-app="CliqueApp">
      <div ng-view></div>
      <div class="wrapper" ng-controller="RecipientCtrl">
        <div class="content">
          <div id="container">

            <!-- <div id="clique_section"> -->
              <div id="personalMessage">

              <!-- hookup ng for icon -->
              <div class="col-xs-2 icon">
                <img src="../public/demo23_files/occasion-custom-blk.png" style="position:relative; top: 20%; left: 20%; height:48%; width:100%">
              </div>

              <!-- hookup ng for buyer's message -->
              <div class="col-xs-10" id="buyerMessage" ng-bind="message"></div>

              <div class="col-xs-10" id="buyerName" ng-bind="from"></div>

              </div>
            <!-- </div> -->

            <div id="affirmation" style="margin-top:5%">
              <b>Coffee, macarons & sandwiches? Yum.</b>
            </div>

            <div id="merchant" style="position:relative; margin-top:5%">
              <img src="../public/demo23_files/gift-value-2.png" style="position:absolute; top:0; left:0; height:36%; width:33%; z-index:9; padding:0">
              <img src="../public/demo23_files/dolys-delectables-crop.jpg" style="position:relative; height:100%; width:100%; border-radius:7px; padding:0">
            </div>

            <div class="col-xs-12 text-center" id="text" style="margin-top:5%">
              <!-- hookup ng merchant name -->
              <span style="font-size:1.4em">Use this $2 gift at</span>
              <br>
              <!-- hookup ng merchant name -->
              <span id="merchantFont" style="font-weight:thin">DoLy's Delectables</span>

            </div>

            <div class="col-xs-12 text-center">
              <div class="col-xs-5 now" style="width:47%;margin-right:1em"><span class="nowText" id="useNow"><a href="clique.cc/redemption/" id="useNow">Use it now</a></span></div>
              <div class="col-xs-5 now" style="width:47%"><span class="nowText" id="useLater">Use it later</span></div>
            </div>



            <!-- image of town -->
            <div id="localstreet" style="top: 350px;">
                <img src="../public/demo23_files/local-street-low2.png">
            </div>

          </div>
        </div>
      </div>

</body>
</html>










