<html>
<head>
  <title>Merchant Registration</title>
  <script type="text/javascript" src="https://js.balancedpayments.com/1.1/balanced.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js">

  </script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style type="text/css">

  </style>
</head>
<body style="background-color:#58e6df">

  <div class="container-fluid">

    <div class="col-xs-3" style="margin:6% 5%">
      <h2 >Merchant Registration</h2>
      <form role="form" style="color:black, text-center">

        <div>
          <label>Account Holder's Name</label>
          <input type="text" id="ba-name" autocomplete="off" placeholder="Jane Doe"/>
        </div>
        <div>
          <label>Routing Number</label>
          <input type="text" id="ba-routing" autocomplete="off" placeholder="322271627" />
        </div>
        <div>
          <label>Account Number</label>
          <input type="text" id="ba-number" autocomplete="off" placeholder="9900000000" />
        </div>

        <button style="margin-top:1.4em" type="button" id="ba-submit" class="btn btn-danger">Submit</button>
      </form  >
    </div>
    
  </div>


  <script type="text/javascript">
    // function handleResponse(response) {
    //   console.log('in handleResponse');
    //   console.log(response);
    //   console.log(response.bank_accounts);
    //   // if (response.status_code === 201) {
    //   //   var fundingInstrument = response.cards != null ? response.cards[0] : response.bank_accounts[0];
    //   //   // Call your backend
    //   // // $.ajax({
    //   // //   type: "POST",
    //   // //   url: '/create',
    //   // //   data: data,
    //   // //   success: success,
    //   // //   dataType: dataType
    //   // // });

    //   //   jQuery.post("/create", {
    //   //     uri: 'http://localhost:3000'
    //   //   }, function(r) {
    //   //     // Check your backend response
    //   //     if (r.status === 201) {
    //   //       console.log(r);
    //   //     } else {
    //   //       console.log('failed to create merchant bank account');
    //   //     }
    //   //   });
    //   // } else {
    //   //   console.log('failed to tokenize');
    //   // }
    // }

    $('#ba-submit').click(function (e) {
      console.log('click');
      e.preventDefault();

      var payload = {
        name: $('#ba-name').val(),
        routing_number: $('#ba-routing').val(),
        account_number: $('#ba-number').val()
      };

      $.ajax({
        type: "POST",
        url: 'http://localhost:3000/create',
        data: payload,
      });

    });
  </script>

</body>
</html>


