<html>
<head>
  <!-- mobile -->
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- google font -->
  <!-- <link href="http://fonts.googleapis.com/css?family=Lato:300,400,inherit" rel="stylesheet" type="text/css"> -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <!-- angular dependencies -->
  <script src="http://code.angularjs.org/1.2.22/angular.min.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js'></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- stylesheet -->
  <link type="text/css" rel="stylesheet" href="../public/demo23_files/dolyStyling.css"> 

  <!-- javascript -->
  <script src="../../public/clique-angular/doly.js"></script>

</head>
<body ng-app="CliqueApp" ng-cloak>

  <div ng-view></div>

</body>
</html>










