<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="/public/system/lib/bootstrap/dist/css/bootstrap.css">
        <style type="text/css">

        </style> 
    <link type="text/css" rel="stylesheet" href="../public/demo23_files/style2.css"> 
    </head>
    <body>

      <div class="wrapper">
        <div class="content">
          <div id="container">

            <!-- creates dark overlay -->
            <div class="overlay"></div>

            <div class="col-xs-12 text-center">
              <!-- hookup ng tricons -->
              <div class="col-xs-3 tricon" style="margin-right:2%; margin-top:11%"><img src=""></div>
              <div class="col-xs-3 tricon" style="margin-right:2%; margin-top:11%"><img src=""></div>
              <div class="col-xs-3 tricon" style="margin-top:11%"><img src=""></div>
            </div>            

            <div class="col-xs-12 text-center">
              <span>
                <!-- hookup ng tricons -->
                <div class="col-xs-3 tricon" style="margin-right:2%"><img src=""></div>
                <div class="col-xs-3 tricon" style="margin-right:2%"><img src=""></div>
                <div class="col-xs-3 tricon"><img src=""></div>
              </span>
            </div>

            <div class="col-xs-12 text-center">
              <span>
                <!-- hookup ng tricons -->
                <div class="col-xs-3 tricon" style="margin-right:2%"><img src=""></div>
                <div class="col-xs-3 tricon" style="margin-right:2%"><img src=""></div>
                <div class="col-xs-3 tricon"><img src=""></div>
              </span>
            </div>

            <!-- upside down section -->
            <div class="col-xs-12 text-center txtUpsideDown" style="margin-top:5%">
              <div class="col-xs-2" style="border:1px solid red; height:15%">
                <!-- put in image of security lock -->
              </div>
              <div class="col-xs-10" style="border:1px solid blue; height:15%; padding:0">
                <!-- hookup ng name of establishment -->
                <div class="col-xs-12" style="border:1px solid green; height:50%"></div>
                <div class="col-xs-12" style="border:1px solid red; height:50%; width:100%; padding:0; color:white">
                  <!-- hookup ng for amount -->
                  To accept $10, enter your icon code.
                </div>
              </div>
            </div>

            <div class="col-xs-12 text-center">
              <div class="col-xs-2 now" style="height:10%; width:17%; margin-right:3%; border:1px solid red"><img src=""></div>
              <div class="col-xs-10 now" style="height:10%; width:80%">
                <span id="showScreen">Show your screen to staff to complete transaction.</span>
              </div>
            </div>

            <!-- image of town -->
            <div id="localstreet" style="top: 350px;">
                <img src="../public/demo23_files/local-street-low2.png">
            </div>

          </div>
        </div>
      </div>

</body>
</html>










