<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="/public/system/lib/bootstrap/dist/css/bootstrap.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../public/demo23_files/style2.css"> 
    </head>
    <body>

      <div class="wrapper">
        <div class="content">
          <div id="container">


            <!-- ng-repeat this section KEEP IT DRY -->


            <!-- creates dark overlay -->
            <div class="overlay"></div>

            <div class="col-xs-12 text-center" style="margin-right:1%;padding-left:7%">
              <!-- hookup ng tricons -->
              <div class="col-xs-3 tricon txtUpsideDown" style="margin-right:2%; margin-top:11%">
                <!-- <img src="../public/demo23_files/occasion-custom-blk.png"> -->
                <img style="margin-left:-33%" src="../public/demo23_files/occasion-custom-wht.png">
              </div>
              <div class="col-xs-3 tricon txtUpsideDown" style="margin-right:2%; margin-top:11%">
                <img style="margin-left:-33%" src="../public/demo23_files/occasion-getwell-wht.png">
              </div>
              <div class="col-xs-3 tricon txtUpsideDown" style="margin-top:11%">
                <img id="click" style="margin-left:-33%" src="../public/demo23_files/occasion-iloveyou-wht.png">
              </div>
            </div>            

            <div class="col-xs-12 text-center">
              <span>
                <!-- hookup ng tricons -->
                <div class="col-xs-3 tricon txtUpsideDown" style="margin-right:1%">
                  <img style="margin-left:-33%" src="../public/demo23_files/occasion-sympathy-wht.png">
                </div>
                <div class="col-xs-3 tricon txtUpsideDown" style="margin-right:2%">
                  <img style="margin-left:-33%" src="../public/demo23_files/occasion-thankyou-wht.png">
                </div>
                <div class="col-xs-3 tricon txtUpsideDown">
                  <img style="margin-left:-33%" src="../public/demo23_files/occasion-wedding-wht.png">
                </div>
              </span>
            </div>

            <div class="col-xs-12 text-center">
              <span>
                <!-- hookup ng tricons -->
                <div class="col-xs-3 tricon txtUpsideDown" style="margin-right:1%">
                  <img style="margin-left:-33%" src="../public/demo23_files/occasion-anniversary-wht.png">
                </div>
                <div class="col-xs-3 tricon txtUpsideDown" style="margin-right:2%">
                  <img style="margin-left:-33%" src="../public/demo23_files/occasion-baby-wht.png">
                </div>
                <div class="col-xs-3 tricon txtUpsideDown">
                  <img style="margin-left:-33%" src="../public/demo23_files/occasion-birthday-wht.png">
                </div>
              </span>
            </div>

            <!-- upside down section -->
            <div class="col-xs-12 text-center txtUpsideDown" style="margin-top:5%">
              <div class="col-xs-2" style="height:15%">
                <!-- put in image of security lock -->
              </div>
              <div class="col-xs-10" style="height:15%; padding:0">
                <!-- hookup ng name of establishment -->
                <div class="col-xs-12" style="height:50%; padding:10%; color:white; text-align:left">
                  DoLy's Delectables
                </div>
                <div class="col-xs-12" style="height:50%; width:100%; padding:0; color:white">
                  <!-- hookup ng for amount -->
                  To accept $2, enter your icon code.
                </div>
              </div>
            </div>

            <div class="col-xs-12 text-center">
              <!-- <div class="col-xs-2 now" style="height:10%; width:17%; margin-right:3%; border:1px solid red">
                <img src="../public/demo23_files/lock-art.jpg">
              </div> -->
              <div class="col-xs-10 now" style="height:10%; width:80%">
                <span id="showScreen">Show your screen to staff to complete transaction.</span>
              </div>
            </div>

            <!-- image of town -->
            <div id="localstreet" style="top: 350px;">
                <img src="../public/demo23_files/local-street-low2.png">
            </div>

          </div>
        </div>
      </div>

<script type="text/javascript">
  $(function () {
    $('#click').on('click', function(){
      $.ajax({
        type: 'POST',
        url: '/charge'
      });
    });
  });
</script>

</body>
</html>










