<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="../public/demo23_files/style2.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.angularjs.org/1.2.22/angular.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-animate.js"></script>
  <script src="../../public/clique-angular/script.js"></script>
</head>
<body ng-app="CliqueApp">

  <div class="wrapper" ng-controller="UnlockCtrl">
  <!-- <div class="wrapper" ng-init="checked=true"> -->
    <div class="content">

      <div class="overlay"></div>

      <!-- <div class="pad"></div> -->

      <div class="container">
        <div class="col-xs-2"></div>
        <!-- col-xs-8 text-center txtUpsideDown  -->
        

        <div ng-show="lock" class="txtUpsideDown unlockText">
          Unlock to accept $10 from Sheila.
        </div>
        
        <div class="col-xs-2"></div>
      </div>

      <div class="container">
        <div class="col-xs-4"></div>

        <!-- lock sprite -->
        <div ng-click="unlock()" class="col-xs-4 text-center lock txtUpsideDown"></div>


        <div class="col-xs-4"></div>
      </div>

      <div class="container patron-view">

        <div class="col-xs-4"></div>

        <div class="col-xs-4 text-center">
          <img src="../public/demo23_files/tilt-5times.gif" class="iphoneTilt">
        </div>

        <div class="col-xs-4"></div>

        <div class="text-center">

          <div class="col-xs-12 tiltTextWrapper">
            <div class="tiltText">Tilt your screen to DoLy's Delectables staff.</div>
          </div>

          <div class="col-xs-12">
            <img src="../public/demo23_files/clique-logo.png" class="cliqueLogo">
          </div>

        </div>

      </div>

        <!-- image of town -->
      <div id="localstreet" style="top: 350px;">
          <img src="../public/demo23_files/local-street-low2.png">
      </div>



    </div>
  </div>

  <!-- unlocking jQuery -->

  <script>

    // when lock div is clicked it triggers unlock animation
    document.getElementsByClassName('lock')[0].onclick = function() {
      document.getElementsByClassName('lock')[0].classList.add('unlock');
    };

    // $("body").hide(0).delay(500).fadeIn(3000)
    // $(".lock").click(function(){
    //   $('body').fadeOut(1000);
    // });


  </script>



</body>
</html>