<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <link type="text/css" rel="stylesheet" href="../public/demo23_files/style2.css">

  <!-- slider jQuery -->
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>

</head>
<body>

  <div class="wrapper">
    <div class="content">


      <div class="overlay"></div>

      <div class="pad"></div>

      <div class="container">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center txtUpsideDown" style="font:1.2em; color:white; margin-top: 35%">
          Unlock to accept $10 from Sheila.
        </div>
        <div class="col-xs-2"></div>
      </div>

      <div class="container">
        <div class="col-xs-4"></div>

        <!-- lock sprite -->
        <!-- <div class="col-xs-4 text-center"> -->
          <div class="col-xs-4 text-center lock"></div>
        <!-- </div> -->

        <div class="col-xs-4"></div>
      </div>

      <div class="container patron-view" style="margin-top: 69%;">

        <div class="col-xs-4"></div>

        <div class="col-xs-4 text-center">
          <img src="../public/demo23_files/tilt-icon.png" style="height:12%; margin-bottom:8%">
        </div>

        <div class="col-xs-4"></div>

        <div class="text-center">

          <div class="col-xs-12" style="padding:0">
            <div style="color:white; font:1em">Tilt your screen to DoLy's Delectables staff.</div>
          </div>

          <div class="col-xs-12">
            <img src="../public/demo23_files/clique-logo.png" style="height:5%;margin-top:5%">
          </div>

        </div>

      </div>

        <!-- image of town -->
      <div id="localstreet" style="top: 350px;">
          <img src="../public/demo23_files/local-street-low2.png">
      </div>

    </div>
  </div>

  <!-- unlocking jQuery -->
  <script type="text/javascript">

    // when lock div is clicked it triggers unlock animation
    document.getElementsByClassName('lock')[0].onclick = function() {
      document.getElementsByClassName('lock')[0].classList.add('unlock');
    };

  </script>
  // <script src="http://code.jquery.com/jquery-1.11.0.min.js">
  //   $("#lock").sprite({ fps: 30, no_of_frames: 15, rewind: true });
  // </script>

</body>
</html>