<div class="container-fluid wrapper" ng-controller="BalanceCtrl">


  <div class="col-xs-12 userInfo">
    <div class="col-xs-5 userName"></div>
    <div class="col-xs-6 col-xs-offset-5 userEdit"></div>
  </div>

  <div class="col-xs-12 receivedHeader">
    <div class="col-xs-6 gReceivedHeader"></div>
  </div>
  
  <!-- <div class="unusedHeader"></div> -->

  <!-- <div class="col-xs-12 gifts" ng-repeat="gift in gifts"></div> -->

  <div class="col-xs-12 gifts" ng-repeat="gift in gifts">
    <div class="col-xs-2 box occasionIcon"></div>
    <div class="col-xs-4 box from"></div>
    <div class="col-xs-3 box amountIcon"></div>
    <div class="col-xs-3 box arrowIcon"></div>
  </div>

    <div class="col-xs-12 redeemedHeader"></div>


</div>